PROJECT = "terraform-knative"
REGION = "us-east1"
CREDENTIALS = "terraform-knative-dev.json"
ORGANIZATION = "acme"
WORKSPACE_GKE = "tekn-gke"
REGISTRY_SERVER = "docker.io"
REGISTRY_USERNAME = "user"
REGISTRY_EMAIL = "your@email.com"
REGISTRY_PASSWORD = "dckr_pat_xxxx"