PROJECT = "terraform-knative"
REGION = "us-east1"
CREDENTIALS = "terraform-knative-dev.json"
ORGANIZATION = "acme"
WORKSPACE_GKE = "tekn-gke"
REGISTRY_SERVER = "docker.io"
REGISTRY_USERNAME = "acme"
REGISTRY_EMAIL = "acme@gmail.com"
REGISTRY_PASSWORD = "dckr_pat_Uxxxx"